---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Team from '~/components/widgets/Team.astro';
import Brands from '~/components/widgets/Brands.astro';
import ContactUs from '~/components/widgets/Contact.astro';

const metadata = {
  title: 'Sespesoft » Servicios Especializados en Software',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contáctanos',
        href: '#contacto',
      },
      //{ text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/banner.webp', alt: 'Banner Image' }}
  >
    <Fragment slot="title">Servicios Especializados en Software</Fragment>

    <Fragment slot="subtitle">
      Escala tu negocio a otro nivel, aumenta la productividad y disminuye los costos con mayor eficacia. Realiza más
      tareas en menos tiempo y con menos esfuerzo.
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    id="productos"
    callToAction={{
      text: 'Prueba',
      href: 'http://weps.sespesoft.com/',
      target: '_blank',
    }}
    image={{
      src: '~/assets/images/weps.webp',
      alt: 'Weps Image',
    }}
    testimonials={[
      {
        testimonial: `El éxito de una empresa va ligada con el entusiasmo por la innovación y automatización de sus procesos, esto es precisamente lo que Gestión wEPS ofrece.`,
        name: 'Mauricio A.',
        job: 'Co-Founder, Sespesoft S.A.',
        image: {
          src: '~/assets/images/person_1.jpg',
          alt: 'Mauricio Image',
        },
      },
    ]}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight text-black dark:text-white sm:text-3xl">Gestión wEPS</h2>
      <h3 class="text-lg font-bold tracking-tight text-black dark:text-white sm:text-xl mb-2">Control Inteligente de la Salud</h3>
      Nuestra SUITE Gestión Weps utiliza algoritmos avanzados y enfocados a la administración de la salud, da cumplimiento
      a la normatividad vigente. Nuestras tecnologías modernas proponen un modelo de prevención y anticipo a los eventos
      en salud con proyecciones reales en cada ciclo de vida de las personas.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    callToAction={{
      text: 'Prueba',
      href: 'http://weps.sespesoft.com/aisalud',
      target: '_blank',
    }}
    image={{
      src: '~/assets/images/aisalud.webp',
      alt: 'Aisalud Image',
    }}
    testimonials={[
      {
        testimonial: `No solo es un validador de RIPS que cumple con la resolución 3374, si no una experiencia completa de radicación de cuentas medicas.`,
        name: 'Marlon R.',
        job: 'Co-Founder, Sespesoft S.A.',
        image: {
          src: '~/assets/images/person_2.jpg',
          alt: 'Marlon Image',
        },
      },
    ]}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight text-black dark:text-white sm:text-3xl">AISalud</h2>
      <h3 class="text-lg font-bold tracking-tight text-black dark:text-white sm:text-xl mb-2">Eficacia en la Facturación Médica</h3>
      Valide los RIPS de conformidad con las reglas de negocio establecidas en los contratos de prestación. Clasifique y
      radique las facturas, adjunte sus soportes digitales, genere glosas automáticas, gestione las glosas por diferentes
      conceptos, administre los tiempos de entrega. Gestione las respuestas a las glosas y genere actas de conciliación.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    callToAction={{
      text: 'Prueba',
      href: 'https://concurrencia.caresoft.com.co',
      target: '_blank',
    }}
    image={{
      src: '~/assets/images/auditorias.webp',
      alt: 'Auditorias Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight text-black dark:text-white sm:text-3xl">Auditorías Integrales</h2>
      <h3 class="text-lg font-bold tracking-tight text-black dark:text-white sm:text-xl mb-2">Optimizando procesos, impulsando resultados</h3>
      Diagrame el flujo de los procesos teniendo en cuenta la dinámica de la empresa entre sus procesos misionales, gerenciales
      o de apoyo. Registre y cree los diferentes indicadores teniendo en cuenta el mapa de procesos. Los indicadores pueden
      ser de Gestión o de calidad, siempre deben obedecer al seguimiento de un subproceso dentro de la organización. Planee
      y organice las diferentes actividades, realice y calcule los indicadores, genere de forma automática calificaciones,
      ajuste los valores, vincule encuestas dinámicas.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features2
    id="servicios"
    title="Servicios"
    items={[
      {
        title: 'Desarrollo Web',
        description:
          'Brindamos soluciones que integran el ciclo de vida de un desarrollo a la medida con altos estandares de calidad y cumplimiento, usamos metodologías y tecnologías de vanguardia.',
        icon: 'tabler:code',
      },
      {
        title: 'Consultoría',
        description:
          'Nuestra amplia experiencia en el sector tecnológico nos permite asesorarle en temas como desarrollo web, cloud computing, escalabilidad, usabilidad, gestión y manejo de proyectos informaticos.',
        icon: 'tabler:question-mark',
      },
      {
        title: 'Business Intelligence',
        description:
          'Mediante el uso de herramientas de analísis nos encargamos de transformar información en conocimiento, con el fin de mejorar el proceso de toma de deciones a nivel gerencial.',
        icon: 'tabler:trending-up',
      },
      {
        title: 'Capacitación',
        description:
          'El conocimiento debe ser transferido es por esta razón que dentro del paquete empresarial se incluye la capacitación de usuarios del sistema.',
        icon: 'tabler:user-filled',
      },
      {
        title: 'Aplicaciones Móviles',
        description:
          'Una aplicación movil inicia con una idea, nosotros nos encargamos de garantizar que esa idea sea un éxito con desarrollo nativo, hibrido o bridged.',
        icon: 'tabler:device-mobile',
      },
      {
        title: 'Marketing',
        description:
          'La presentacion personal es tan importante tanto fisica como web por eso le ofrecemos a nuestros clientes la oportunidad de dar a conocer sus productos y servicios.',
        icon: 'tabler:currency-dollar',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Steps Widget ****************** -->

  <Steps
    id="nosotros"
    title="Sobre Nosotros"
    items={[
      {
        title: 'Misión',
        description:
          'SESPESOFT es una empresa dedicada a la consultoría, desarrollo y comercialización de sistemas de información con procesos tecnológicos de alta calidad, comprometida con sus clientes y proveedores, destacando su liderazgo en la promoción de la conciencia ambiental. Para ello cuenta con un talento humano idóneo y comprometido, generando un impacto de calidad en el servicio con balance social.',
      },
      {
        title: 'Visión',
        description:
          'En el 2030 SESPESOFT liderará el sector TECNOLÓGICO como empresa transformadora de procesos, aprovechando el reconocimiento de la comunidad, para aumentar nuestra presencia en el mercado. Nuestro modelo de gestión innovador nos permitirá evolucionar la fuerza competitiva.',
      },
    ]}
    image={{
      src: '~/assets/images/equipo.webp',
      alt: 'Equipo image',
    }}
  />

  <!-- Stats Widget ****************** -->

  <Team
    title="Equipo de Trabajo"
    team={[
      {
        name: 'Mauricio Acevedo',
        content: 'Como consultor en Tecnologías de la Información, con un Máster en Gestión de Proyectos Informáticos y especialización en Diagnóstico y Análisis Organizacional, además de ser Administrador de Empresas y Finanzas, tengo más de 30 años de experiencia en el sector de la salud.',
        avatar: '~/assets/images/mauricio.webp',
        position: 'Co-Founder, Sespesoft S.A.',
        active: true,
      },
      {
        name: 'Marlon Ramirez',
        content: 'Soy ingeniero de sistemas con especialización en desarrollo de software y más de 12 años de experiencia en entornos web. Poseo un amplio conocimiento en arquitectura de software, metodologías ágiles y diseño y despliegue de soluciones.',
        avatar: '~/assets/images/person_2.jpg',
        position: 'Co-Founder, Sespesoft S.A.',
      },
      {
        name: 'Victor Garnica',
        content: 'Como ingeniero de sistemas con 20 años de experiencia, me especializo en PostgreSQL y programación Java. Además, cuento con una especialización en administración de proyectos y seguridad informática, con 10 años dedicados al sector salud.',
        avatar: '~/assets/images/victor.webp',
        position: 'Ingeniero de Sistemas',
      },
      {
        name: 'Carlos Duque',
        content: 'Soy contador público y técnico en Administración de Servicios Financieros, con 6 años de experiencia en atención al cliente y análisis financiero. Tengo habilidades en metodología Lean y Scrum para mejorar la eficiencia en proyectos comerciales y financieros.',
        avatar: '~/assets/images/carlos.webp',
        position: 'Contador',
      },
      {
        name: 'Angie Quintero',
        content: 'Soy ingeniera de sistemas con especialización en Gestión de TICs. Mi experiencia se centra en el área de Implementación, donde destaco por mi capacidad para resolver problemas, habilidades de comunicación y trabajo en equipo.',
        avatar: '~/assets/images/angie.webp',
        position: 'Implementadora',
      },
      {
        name: 'Rocky Barrios',
        content: 'Soy un ingeniero de sistemas y desarrollador especializado en Backend, apasionado por el aprendizaje continuo y la implementación de buenas prácticas. Me dedico a contribuir en el desarrollo de soluciones innovadoras y eficientes en el área de desarrollo web.',
        avatar: '~/assets/images/rocky.webp',
        position: 'Desarrollador Backend',
      },
      {
        name: 'Noheli Villa',
        content: 'Soy una ingeniera de sistemas especializada en desarrollo Frontend. Tengo experiencia en la construcción de sitios web estáticos y en la implementación de diseños responsivos. Me destaco por mis habilidades analíticas y mi orientación a los detalles.',
        avatar: '~/assets/images/noheli.webp',
        position: 'Desarrolladora Frontend',
      },
      {
        name: 'Yefferson Peinado',
        content: 'Soy un ingeniero de sistemas autodidacta, catedrático y especialista en desarrollo web Backend. Me dedico a formar mi propio camino para alcanzar las metas que me propongo, siempre en búsqueda de crecimiento y aprendizaje continuo.',
        avatar: '~/assets/images/yeferson.webp',
        position: 'Desarrollador Backend',
      },
      {
        name: 'Maria Sepulveda',
        content: 'Soy una ingeniera de sistemas especializada en análisis, diseño y pruebas. Tengo habilidades para desglosar sistemas complejos en componentes manejables, identificar posibles fallos y diseñar estrategias efectivas de prueba.',
        avatar: '~/assets/images/mafe.webp',
        position: 'Implementadora',
      },
      {
        name: 'Joel Salazar',
        content: 'Como ingeniero de software, me especializo en el desarrollo Backend y aplicaciones móviles, con un enfoque particular en arquitecturas limpias. Esto me permite crear aplicaciones más escalables, mantenibles y testables, lo cual es fundamental para garantizar su éxito a largo plazo.',
        avatar: '~/assets/images/joel.webp',
        position: 'Desarrollador Backend',
      },
      {
        name: 'Gustavo Salazar',
        content: 'Soy un ingeniero de software apasionado por codificar, fusionando creatividad y lógica para construir tecnología que facilita el cambio. Estoy comprometido con la mejora constante de mis habilidades y en superar desafíos técnicos.',
        avatar: '~/assets/images/gustavo.webp',
        position: 'Desarrollador Backend',
      },
      {
        name: 'Alexandra Soto',
        content: 'Soy una ingeniera de sistemas con experiencia en el desarrollo Frontend. Mi objetivo principal es crear aplicaciones intuitivas, fáciles de usar y accesibles para mejorar la experiencia del usuario.',
        avatar: '~/assets/images/alexa.webp',
        position: 'Desarrolladora Frontend',
      },
      {
        name: 'Jesús Prada',
        content: 'Soy un ingeniero en Sistemas Informáticos con más de 10 años de experiencia en desarrollo de sistemas complejos, especializado en PHP, SQL, minería de datos y Business Intelligence (BI). Mi enfoque se centra en crear soluciones tecnológicas eficientes y escalables.',
        avatar: '~/assets/images/jesus.webp',
        position: 'Desarrollador Backend',
      },
      {
        name: 'Monica Acevedo',
        content: 'Como administradora de empresas, soy una persona disciplinada, organizada y con alto sentido de pertenencia y compromiso con Sespesoft. Me gusta el trabajo en equipo y tengo una buena comunicación con todos los compañeros de trabajo.',
        avatar: '~/assets/images/monica.webp',
        position: 'Coordinadora Administrativa',
      },
      {
        name: 'Madelen Agudelo',
        content: 'Soy psicóloga comprometida con el conocimiento humano y su desarrollo en todas las áreas de la vida. Poseo experiencia y habilidades para liderar procesos de gestión humana con excelencia.',
        avatar: '~/assets/images/madelen.webp',
        position: 'Psicóloga',
      },
      {
        name: 'Zaira Mancilla',
        content: 'Como enfermera jefe y profesional en Seguridad y Salud en el Trabajo, cuento con más de 5 años de experiencia en el sector salud y en empresas reconocidas. Soy una persona comprometida y responsable, apasionada por el crecimiento tanto personal como profesional.',
        avatar: '~/assets/images/zaira.webp',
        position: 'Enfermera',
      },
    ]}
  />

  <!-- Brands Widget ****************** -->

  <Brands 
    title="Nuestros Clientes" 
    images={[
      {
        src: '~/assets/images/01-logo.webp',
        alt: 'confanorte',
        href: 'https://comfanorte.com.co/',
      },
      {
        src: '~/assets/images/logo_proinsalud.webp',
        alt: 'proinsalud',
        href: 'https://www.proinsalud.co/',
      },
      {
        src: '~/assets/images/logo_omnicon.webp',
        alt: 'omnicon',
        href: 'https://omnicon.co/',
      },
      {
        src: '~/assets/images/logo_cosmitet.webp',
        alt: 'cosmitet',
        href: 'https://www.cosmitet.net/Cosmitet/',
      },
      {
        src: '~/assets/images/logo_unimap.webp',
        alt: 'unimap',
        href: 'https://unimapeu.com/',
      },
      {
        src: '~/assets/images/logo_famac.webp',
        alt: 'famac',
        href: 'https://famacltda.com/',
      },
      {
        src: '~/assets/images/logo_tools.png',
        alt: 'tools',
        href: 'https://tool.com.co/',
      },
      {
        src: '~/assets/images/logo_duarte.webp',
        alt: 'duarte',
        href: 'https://clinicamedicalduarte.com/',
      },
      {
        src: '~/assets/images/logo_berry.webp',
        alt: 'berry',
        href: 'https://www.berryglobal.com/en/',
      },
    ]}
  
  />
  <!-- Note Widget ******************* -->

  <ContactUs
    id="contacto"
    title="Cuentanos tus ideas"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Nombre',
        placeholder: 'Nombre',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
        placeholder: 'Email',
      },
      {
        type: 'text',
        name: 'name',
        label: 'Objeto',
        placeholder: 'Objeto',
      },
    ]}
    textarea={{
      label: 'Mensaje',
      placeholder: 'Dejanos un Mensaje...',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-100 dark:bg-transparent"></div>
    </Fragment>
  </ContactUs>
  <!-- HighlightedPosts Widget ******* -->
</Layout>
