---
import Image from '~/components/common/Image.astro';
import '~/assets/styles/content.css'
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 whitespace-nowrap">
  <div class="box flex items-center">
    <Image class="box2" src="~/assets/images/logo1.png" alt="Logo1" width="35px" sizes="(max-width: 768px) 100vw, 532px"/>
    <div>
      <p class="logo-name text-primary text-[1.7rem]">SESPESOFT</p>
    </div>
  </div>
</span>

<style>
  .box2 {
    -webkit-transition: .5s linear;
    transition: .5s linear;
  }
  .box:hover .box2 {
    -webkit-transform: rotate(200deg);
    transform: rotate(200deg);
  }
</style>
