@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.img, .group{
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition-timing-function: ease;
    transition-duration: .4s;
    pointer-events: auto;
    animation: fade-in forwards;
    animation-timeline: view();
    animation-range: 250px 500px;
  }

  .content{
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-duration: .4s;
    pointer-events: auto;
    animation: fade-in2 forwards;
    animation-timeline: view();
    animation-range: 250px 500px;
  }

  .logo-name{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  @keyframes fade-in {
    to{ transform: none; 
        opacity: 1;
    }
  }
  @keyframes fade-in2 {
    to{ transform: none; 
        opacity: 1;
        transition-delay: .1s;
    }
  }