.row {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 0;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}

.row2 {
    box-sizing: border-box;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

.swiper-wrapper {
    position: relative;
    width: calc(100vw - var(--size-fluid-2));
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
    margin: auto;
    overflow: hidden;
}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.swiper-slide {
    flex-shrink: 0;
    display: flex;
    margin: var(--size-fluid-4) 0 var(--size-fluid-4);
    text-align: center;
    transform: translateX(0%);
    transition: 400ms ease-in-out;

}

.testimonial-content {
    flex: 1 0 100%;
}

.testimonial-content svg {
    margin-bottom: 1rem;
    display: inline;
    font-size: 4.5rem;
    line-height: 1;
}

.testimonial-content span.author {
    display: inline-block;
    border-radius: 0.375rem;
    background-color: #fff;
    padding: 1.75rem;
    --tw-shadow: 0 10px 50px rgba(0, 0, 0, .08);
    --tw-shadow-colored: 0 10px 50px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.testimonial-content span.author img {
    margin-bottom: 1rem;
}

.testimonial-content img {
    display: inline;
}

.name {

    font-weight: 700;
    line-height: 1.25;
    --tw-text-opacity: 1;
    color: rgb(34 34 34 / var(--tw-text-opacity));
}

.pagination {
    display: flex !important;
    width: 100% !important;
    --tw-translate-x: 0px !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
    justify-content: center !important;
}

.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
}

.pagination .swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    display: inline-block;
}

.swiper-pagination-bullet.active {
    background: rgb(255, 135, 0);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .swiper-pagination-bullet.active {
        background: #FFFFFF;
        opacity: 1;
    }
}